USE [master]
GO
/****** Object:  Database [Furnituramaterial]    Script Date: 25.06.2020 19:35:10 ******/
CREATE DATABASE [Furnituramaterial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Furnituramaterial2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Furnituramaterial2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Furnituramaterial2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Furnituramaterial2_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Furnituramaterial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Furnituramaterial]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 25.06.2020 19:35:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[marking] [varchar](50) NOT NULL,
	[type] [nvarchar](50) NULL,
	[characteristics] [varchar](50) NULL,
	[name] [nchar](10) NOT NULL,
	[data] [date] NULL,
 CONSTRAINT [PK_Oborydovanie] PRIMARY KEY CLUSTERED 
(
	[marking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Furniture]    Script Date: 25.06.2020 19:35:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Furniture](
	[VendorCode] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NULL,
	[quantity] [float] NULL,
	[unit] [nvarchar](255) NULL,
	[type] [nvarchar](255) NULL,
	[price] [float] NULL,
	[mainProvider] [nvarchar](50) NULL,
 CONSTRAINT [PK_furniture] PRIMARY KEY CLUSTERED 
(
	[VendorCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 25.06.2020 19:35:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[vendorCode] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NULL,
	[unit] [nvarchar](255) NULL,
	[length] [float] NULL,
	[quanity] [nvarchar](255) NULL,
	[type] [nvarchar](255) NULL,
	[price] [nvarchar](255) NULL,
	[GOST] [nvarchar](255) NULL,
	[mainProvider] [nvarchar](50) NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[vendorCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 25.06.2020 19:35:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[number] [int] NOT NULL,
	[date] [date] NOT NULL,
	[name] [nvarchar](50) NULL,
	[product] [nvarchar](50) NOT NULL,
	[customer] [nvarchar](255) NOT NULL,
	[manager] [nvarchar](255) NOT NULL,
	[price] [money] NULL,
	[end_date] [date] NULL,
	[scheme] [nvarchar](50) NULL,
 CONSTRAINT [PK_Zakaz] PRIMARY KEY CLUSTERED 
(
	[number] ASC,
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 25.06.2020 19:35:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[name] [nvarchar](50) NOT NULL,
	[size] [nvarchar](50) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[provider]    Script Date: 25.06.2020 19:35:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provider](
	[name] [nvarchar](50) NOT NULL,
	[adress] [nvarchar](50) NOT NULL,
	[deliveryPeriod] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Postavshik] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecificationAssemblyUnit]    Script Date: 25.06.2020 19:35:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecificationAssemblyUnit](
	[product] [nvarchar](50) NOT NULL,
	[unit] [nvarchar](50) NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_SpecificationAssemblyUnit] PRIMARY KEY CLUSTERED 
(
	[product] ASC,
	[unit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecificationFurniture]    Script Date: 25.06.2020 19:35:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecificationFurniture](
	[product] [nvarchar](50) NOT NULL,
	[furniture] [nvarchar](255) NOT NULL,
	[quantity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecificationMaterial]    Script Date: 25.06.2020 19:35:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecificationMaterial](
	[product] [nvarchar](50) NOT NULL,
	[material] [nvarchar](255) NOT NULL,
	[quantity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecificationOperation]    Script Date: 25.06.2020 19:35:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecificationOperation](
	[product] [nvarchar](50) NOT NULL,
	[operation] [nvarchar](50) NOT NULL,
	[serialNumber] [int] NOT NULL,
	[typeProduct] [nvarchar](50) NULL,
	[operationTime] [time](7) NULL,
 CONSTRAINT [PK_Spechioperach] PRIMARY KEY CLUSTERED 
(
	[product] ASC,
	[operation] ASC,
	[serialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfEquipment]    Script Date: 25.06.2020 19:35:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfEquipment](
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Typeoboryd] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 25.06.2020 19:35:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Фамилия] [nvarchar](255) NULL,
	[Имя] [nvarchar](255) NULL,
	[Отчество] [nvarchar](255) NULL,
	[login] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NULL,
	[role] [nvarchar](255) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Furniture] ([VendorCode], [name], [quantity], [unit], [type], [price], [mainProvider]) VALUES (N'04.C060', N'Ножка пластиковая серии 1004, h=60 мм', 2594, N'шт', N'Опора', 31, NULL)
INSERT [dbo].[Furniture] ([VendorCode], [name], [quantity], [unit], [type], [price], [mainProvider]) VALUES (N'09.0020.013.50.54', N'Заглушка самоклеющ. черный, D13 /уп. 20 шт.', 467, N'упак', N'Заглушка', 19.9, NULL)
INSERT [dbo].[Furniture] ([VendorCode], [name], [quantity], [unit], [type], [price], [mainProvider]) VALUES (N'09.0020.013.50.5H', N'Заглушка самоклеющ. орех, D13 /уп. 20 шт.', 2642, N'упак', N'Заглушка', 7.64, NULL)
GO
INSERT [dbo].[Material] ([vendorCode], [name], [unit], [length], [quanity], [type], [price], [GOST], [mainProvider]) VALUES (N'82', N' Брус 150*150*6000', NULL, NULL, N' 7 шт.', NULL, N' 7200', NULL, NULL)
INSERT [dbo].[Material] ([vendorCode], [name], [unit], [length], [quanity], [type], [price], [GOST], [mainProvider]) VALUES (N'Б1', N'Брус обрезной, 100х150х6000 мм, 1 сорт', N'шт.', 6, NULL, N'Брус', N'800 ', NULL, NULL)
INSERT [dbo].[Material] ([vendorCode], [name], [unit], [length], [quanity], [type], [price], [GOST], [mainProvider]) VALUES (N'Б10', N'Брусок обрезной, 30x50x3000 мм', N'шт.', 3, NULL, N'Брус', N'50 ', NULL, NULL)
GO
INSERT [dbo].[TypeOfEquipment] ([name]) VALUES (N'большие')
INSERT [dbo].[TypeOfEquipment] ([name]) VALUES (N'маленькие')
INSERT [dbo].[TypeOfEquipment] ([name]) VALUES (N'разящие')
INSERT [dbo].[User] ([Фамилия], [Имя], [Отчество], [login], [password], [role]) VALUES (N'Иван', N'Вячеславовна', N'DEmel2018', N'8zmoSV', N'ckdslmK', N'Заместитель директора')
INSERT [dbo].[User] ([Фамилия], [Имя], [Отчество], [login], [password], [role]) VALUES (N'Саняев', N'Саня', N'Саневич', N'alex', N'zxcmnbv1.', N'заказчик')
INSERT [dbo].[User] ([Фамилия], [Имя], [Отчество], [login], [password], [role]) VALUES (N'Гурьева', N'Ангелина', N'Матвеевна', N'DEaaf2018', N'SIBZnG', N'Менеджер')
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_TypeOfEquipment] FOREIGN KEY([type])
REFERENCES [dbo].[TypeOfEquipment] ([name])
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK_Equipment_TypeOfEquipment]
GO
ALTER TABLE [dbo].[Furniture]  WITH CHECK ADD  CONSTRAINT [FK_Furniture_provider] FOREIGN KEY([mainProvider])
REFERENCES [dbo].[provider] ([name])
GO
ALTER TABLE [dbo].[Furniture] CHECK CONSTRAINT [FK_Furniture_provider]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_provider] FOREIGN KEY([mainProvider])
REFERENCES [dbo].[provider] ([name])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_provider]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Product] FOREIGN KEY([product])
REFERENCES [dbo].[Product] ([name])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Product]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([customer])
REFERENCES [dbo].[User] ([login])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User1] FOREIGN KEY([manager])
REFERENCES [dbo].[User] ([login])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User1]
GO
ALTER TABLE [dbo].[SpecificationAssemblyUnit]  WITH CHECK ADD  CONSTRAINT [FK_SpecificationAssemblyUnit_Product] FOREIGN KEY([product])
REFERENCES [dbo].[Product] ([name])
GO
ALTER TABLE [dbo].[SpecificationAssemblyUnit] CHECK CONSTRAINT [FK_SpecificationAssemblyUnit_Product]
GO
ALTER TABLE [dbo].[SpecificationAssemblyUnit]  WITH CHECK ADD  CONSTRAINT [FK_SpecificationAssemblyUnit_Product1] FOREIGN KEY([unit])
REFERENCES [dbo].[Product] ([name])
GO
ALTER TABLE [dbo].[SpecificationAssemblyUnit] CHECK CONSTRAINT [FK_SpecificationAssemblyUnit_Product1]
GO
ALTER TABLE [dbo].[SpecificationFurniture]  WITH CHECK ADD  CONSTRAINT [FK_SpecificationFurniture_Furniture] FOREIGN KEY([furniture])
REFERENCES [dbo].[Furniture] ([VendorCode])
GO
ALTER TABLE [dbo].[SpecificationFurniture] CHECK CONSTRAINT [FK_SpecificationFurniture_Furniture]
GO
ALTER TABLE [dbo].[SpecificationFurniture]  WITH CHECK ADD  CONSTRAINT [FK_SpecificationFurniture_Product] FOREIGN KEY([product])
REFERENCES [dbo].[Product] ([name])
GO
ALTER TABLE [dbo].[SpecificationFurniture] CHECK CONSTRAINT [FK_SpecificationFurniture_Product]
GO
ALTER TABLE [dbo].[SpecificationMaterial]  WITH CHECK ADD  CONSTRAINT [FK_SpecificationMaterial_Material] FOREIGN KEY([material])
REFERENCES [dbo].[Material] ([vendorCode])
GO
ALTER TABLE [dbo].[SpecificationMaterial] CHECK CONSTRAINT [FK_SpecificationMaterial_Material]
GO
ALTER TABLE [dbo].[SpecificationMaterial]  WITH CHECK ADD  CONSTRAINT [FK_SpecificationMaterial_Product] FOREIGN KEY([product])
REFERENCES [dbo].[Product] ([name])
GO
ALTER TABLE [dbo].[SpecificationMaterial] CHECK CONSTRAINT [FK_SpecificationMaterial_Product]
GO
ALTER TABLE [dbo].[SpecificationOperation]  WITH CHECK ADD  CONSTRAINT [FK_SpecificationOperation_Product] FOREIGN KEY([product])
REFERENCES [dbo].[Product] ([name])
GO
ALTER TABLE [dbo].[SpecificationOperation] CHECK CONSTRAINT [FK_SpecificationOperation_Product]
GO
ALTER TABLE [dbo].[SpecificationOperation]  WITH CHECK ADD  CONSTRAINT [FK_SpecificationOperation_TypeOfEquipment] FOREIGN KEY([typeProduct])
REFERENCES [dbo].[TypeOfEquipment] ([name])
GO
ALTER TABLE [dbo].[SpecificationOperation] CHECK CONSTRAINT [FK_SpecificationOperation_TypeOfEquipment]
GO
USE [master]
GO
